pg-connstring = "postgres:///postgres?user=cargo&password=&host=/var/run/postgresql"
lotus-api = "http://localhost:1234"
ipfs-api = "http://localhost:5001"
prometheus_push_url="..."
prometheus_push_user="..."
prometheus_push_pass="..."
cf-account = "..."
cf-bearer-token = "..."
cf-kvnamespace-nfts = "..."
cf-kvnamespace-deals = "..."
cf-kvnamespace-users = "..."
fauna-token-w3s-prod = "..."
fauna-token-w3s-stage = "..."
